syntax: glob

*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.log.*
*.lib
*.sbr
*.scc
Logs
[Bb]in
[Dd]ebug*/
obj/
output
Thumbs.db
[Rr]elease*/
_ReSharper*/
packages/
[Tt]est[Rr]esult*xml
*.dll*.xml
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
*.resharper
*.sln.docstates
*.sdf
*.opensdf
