<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="tortoisehg" source="http://chocolatey.org/api/v2/" />
  <package id="googlechrome" source="http://chocolatey.org/api/v2/" />
  <package id="keepass" source="http://chocolatey.org/api/v2/" />
  <package id="7Zip" source="http://chocolatey.org/api/v2/" />
  <package id="adobereader" source="http://chocolatey.org/api/v2/" />
  <package id="android-sdk" source="http://chocolatey.org/api/v2/" />
  <package id="baretail" source="http://chocolatey.org/api/v2/" />
  <package id="calibre" source="http://chocolatey.org/api/v2/" />
  <package id="camstudio" source="http://chocolatey.org/api/v2/" />
  <package id="ChocolateyGUI" source="http://chocolatey.org/api/v2/" />
  <package id="clipx" source="http://chocolatey.org/api/v2/" />
  <package id="CoffeeScript" source="http://chocolatey.org/api/v2/" />
  <package id="console2" source="http://chocolatey.org/api/v2/" />
  <package id="couchbase" source="http://chocolatey.org/api/v2/" />
  <package id="curl" source="http://chocolatey.org/api/v2/" />
  <package id="evernote" source="http://chocolatey.org/api/v2/" />
  <package id="fiddler4" source="http://chocolatey.org/api/v2/" />
  <package id="firefox" source="http://chocolatey.org/api/v2/" />
  <package id="f.lux" source="http://chocolatey.org/api/v2/" />
  <package id="msysgit" source="http://chocolatey.org/api/v2/" />
  <package id="githubforwindows" source="http://chocolatey.org/api/v2/" />
  <package id="kickassvim" source="http://chocolatey.org/api/v2/" />
  <package id="lockhunter" source="http://chocolatey.org/api/v2/" />
  <package id="mongodb" source="http://chocolatey.org/api/v2/" />
  <package id="notepadplusplus" source="http://chocolatey.org/api/v2/" />
  <package id="nuget.commandline" source="https://nuget.org/api/v2/" />
  <package id="opera" source="http://chocolatey.org/api/v2/" />
  <package id="paint.net" source="http://chocolatey.org/api/v2/" />
  <package id="papercut" source="http://chocolatey.org/api/v2/" />
  <package id="rabbitmq" source="http://chocolatey.org/api/v2/" />
  <package id="ravendb.server" />
  <package id="redis" source="http://chocolatey.org/api/v2/" />
  <package id="reflector" source="http://chocolatey.org/api/v2/" />
  <package id="ruby" source="http://chocolatey.org/api/v2/" />
  <package id="python" source="http://chocolatey.org/api/v2/" />
  <package id="putty" source="http://chocolatey.org/api/v2/" />
  <package id="poshgit" source="http://chocolatey.org/api/v2/" />
  <package id="Posh-HG" source="http://chocolatey.org/api/v2/" />
  <package id="safari" source="http://chocolatey.org/api/v2/" />
  <package id="skype" source="http://chocolatey.org/api/v2/" />
  <package id="Silverlight" source="http://chocolatey.org/api/v2/" />
  <package id="smtp4dev" source="http://chocolatey.org/api/v2/" />
  <package id="sysinternals" source="http://chocolatey.org/api/v2/" />
  <package id="tortoisesvn" source="http://chocolatey.org/api/v2/" />
  <package id="vim" source="http://chocolatey.org/api/v2/" />
  <package id="virtualbox" source="http://chocolatey.org/api/v2/" />
  <package id="virtualclonedrive" source="http://chocolatey.org/api/v2/" />
  <package id="webpicommandline" source="http://chocolatey.org/api/v2/" />
  <package id="windowstelnet" source="http://chocolatey.org/api/v2/" />
  <package id="winmerge" source="http://chocolatey.org/api/v2/" />
  <package id="visualstudio2013ultimate" source="http://chocolatey.org/api/v2/" />
  <package id="visualhg" source="http://chocolatey.org/api/v2/" />
  <package id="resharper" source="http://chocolatey.org/api/v2/" />
  <package id="nugetpackagemanager" source="http://chocolatey.org/api/v2/" />
  <package id="specflow" source="http://chocolatey.org/api/v2/" />
</packages>
